[Unit]
Description=Prune docker images

[Service]
Type=oneshot
StandardOutput=journal
StandardError=journal
RemainAfterExit=no
ExecStart=/bin/bash /opt/script/cleanup-docker
