# install file to
# /etc/systemd/system/freepbx-tpg-sip-health-policy.timer

[Unit]
Description=Run TPG SIP health /etc/hosts policy fallback periodically

[Timer]
OnBootSec=120
OnUnitActiveSec=300
AccuracySec=30
Unit=freepbx-tpg-sip-health-policy.service

[Install]
WantedBy=timers.target