# install file to
# /etc/freepbx-wanip-hosts/freepbx-wanip-hosts.env
ROUTER_IP=192.168.1.1
SNMP_COMMUNITY=YOUR_CURRENT_SNMP_COMMUNITY
WAN_IFNAME=ppp3
HOST_ALIAS=public.ip.address
TRUNK_NAME=TPG-VoIP
FORCE_REGISTER=yes
REGISTER_STATUS_CHECK_INTERVAL_SECONDS=1
REGISTER_FAILURE_TIMEOUT_SECONDS=300
REGISTER_STABLE_CHECKS=5
ASTERISK_RESTART_ON_REGISTRATION_FAILURE=yes
ASTERISK_RESTART_CALL_CHECK_INTERVAL_SECONDS=5
ASTERISK_RESTART_WAIT_TIMEOUT_SECONDS=0
ASTERISK_RESTART_REGISTRATION_TIMEOUT_SECONDS=300
WATCHDOG_RECOVERY_ENABLED=yes
REGISTER_RETRY_INITIAL_SECONDS=30
REGISTER_RETRY_BACKOFF_MULTIPLIER=2
REGISTER_RETRY_MAX_SECONDS=300
REGISTER_RETRY_JITTER_MIN_SECONDS=15
REGISTER_RETRY_JITTER_MAX_SECONDS=45
