# Inputs for install-cronos-integration.sh.
TERMUX_PACKAGE=com.termux
TERMUX_PREFIX=/data/data/com.termux/files/usr
TERMUX_HOME=/data/data/com.termux/files/home
ROOT_SOURCE=/sdcard/script
USER_SOURCE=/sdcard/user-script
ROOT_RUNTIME=/dev/script
USER_RUNTIME=/dev/user-script
POLL_SECONDS=2
LAUNCHER_PACKAGE=com.amazon.paladin
IME_COMPONENT=com.amazon.bluestone.keyboard/.DictationIME
