TARGET_URL=https://www.amazon.com.au/alexa-privacy/apd/rvh
CHROME_PROFILE_DIR=./chrome-amazon-profile
HEADLESS=true
AMAZON_EMAIL=your-email-or-phone
AMAZON_PASSWORD=your-password
PROMPT_FOR_MFA=true
CHECK_DONT_REQUIRE_MFA=true
STRIP_WAKE_WORD=true
WAKE_WORDS=alexa,echo,amazon,computer,ziggy
OUTPUT_BASENAME=alexa-recognized-speech
